.varselContainer {
  padding: 1rem 0;
  color: var(--a-text-subtle);
  gap: 16px;
  border-bottom: 1px solid #e5e5e5;
}

.header {
  display: flex;
  gap: 8px;
  align-items: center;
  padding-bottom: 4px;
}

.iconWrapper {
  display: flex;
  border-radius: 4px;
  background: var(--a-surface-neutral-moderate);
  padding: 2px;
}

.icon {
  font-size: 20px;
}

.iconClickable {
  background: var(--a-icon-alt-3);
}

a {
  text-decoration: none;
}

.clickableTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}

.chevron {
  flex-shrink: 0;
}

.footer {
  padding-top: 4px;
  border-bottom: 3px;
}

.linkText {
  font-weight: 600;
  color: var(--a-text-default);
}

.link:hover .linkText {
  color: var(--a-text-action);
}

.link:hover .chevron {
  transition-duration: 0.2s;
  transform: translate(3px, 0);
}

@media (min-width: 648px) {
}
