.notifikasjon-link-panel {
  margin-bottom: 0.25rem;
  border-radius: 0.5rem;
}

.notifikasjon-link-panel-tittel {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}

.notifikasjon-link-panel-dato {
  font-size: 1rem;
  font-weight: normal;
  margin-top: 0.25rem;
  color: var(--navds-semantic-color-text-muted);
}
