.tidligereVarslerHeading {
  padding-top: 1rem;
  margin-bottom: 2rem;
}

.hoyereSikkerhetsnivaaIngress {
  margin-top: 1.25rem !important ;
}

.varslerList {
  list-style-type: none;
  padding: 0rem;
  margin-top: 1.25rem;
  max-width: 600px;
}

.varselElement {
  margin-top: 1.25rem;
  padding-bottom: 1.25rem;
  border-bottom: 1px solid #e5e5e5;
}
.varselHeading {
  font-weight: 400 !important;
  font-size: 18px !important;
  line-height: 28px !important;
}
.varselDate {
  color: rgba(0, 0, 0, 0.56);
}

.varselTag {
  background: #99dead !important;
  margin-top: 0.5rem !important;
  background-color: black;
}

@media (max-width: 800px) {
  .tidligereVarslerHeading {
    margin-bottom: 2.3rem;
  }
}
