.search-field-wrapper {
  position: relative;
  width: 100%;
}

.search-ikon {
  position: absolute;
  left: 16px;
  bottom: 0.65em;
}
.navds-text-field__input {
  padding-left: 2.75rem !important;
  padding-right: 2.75rem !important;
}

.clear-button {
  position: absolute;
  bottom: calc(0.4em - 0.4rem);
  right: 0;
  border: 0;
  background: transparent;
}
