.search-field-wrapper {
  position: relative;
  width: 100%;
}

.search-ikon {
  position: absolute;
  left: 16px;
  bottom: calc(0.65em + 0.5rem);
}
.navds-text-field__input {
  padding-left: 2.75rem !important;
  padding-right: 2.75rem !important;
}
