.search-field-wrapper {
  position: relative;
  width: 100%;
}

.search-ikon {
  position: absolute;
  left: 16px;
  top: 48px;
}
.navds-text-field__input {
  padding-left: 2.75rem !important;
  padding-right: 2.75rem !important;
}

.clear-button {
  position: absolute;
  height: 44px;
  bottom: 0;
  right: 0;

  border: 0;
  background: transparent;
}
