.varselTag{
  margin-top: 0.5rem !important;
}
.greenTag{
  color: #003B0F !important;
  background: #99DEAD !important;
}

.grayTag{
  background: #CFCFCF !important;
}

.redTag{
  background: #EFA89D !important;
  color: #480900;
}