.notifikasjon-panel {
  margin-bottom: 0.25rem;
  border-radius: 0.5rem !important;
  padding: 1rem 1.5rem !important;
  display: flex;
  justify-content: space-between;
}

.notifikasjon-panel-tittel {
  font-size: 1.125rem;
  font-weight: 400 !important;
  line-height: 1.5rem;
  color: var(--navds-semantic-color-text);
}

.arkiver-button-container {
  display: flex;
  align-items: center;
}

.arkiver-button {
  font-size: 1rem !important;
}
