.app {
  max-width: 39.5rem;
  margin: 0rem 1rem ;
  display: flex;
  flex-direction: column;
}
.pageTitle{
  margin-top: 1.25rem;
}

.authenticationAlert{
  margin-top: 1rem;
}

.pageBodyWrapper{
  margin-top: 2rem;
}

.loader{
  align-self: center;
}

.varslerList {
  list-style-type: none;
  padding-inline-start: 0px;
  margin-top: 1.5rem;
}

.emptySearchContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  justify-content: center;  padding: 3.5rem 2.5rem 2.75rem 2.5rem;
  border-radius: 12px;
  border: 2px dashed var(--border-divider, rgba(0, 0, 0, 0.19));
}

.emptySearchDescription{
  margin-top: 2.5rem;
}
