.notifikasjon-panel {
  margin-bottom: 0.25rem;
  border-radius: 0.5rem;
  display: flex;
}

.notifikasjon-panel-tittel{
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: var(--navds-semantic-color-text);
}

.notifikasjon-panel-dato {
  font-size: 1rem;
  font-weight: normal;
  margin-top: 0.25rem;
  color: var(--navds-semantic-color-text-muted);
}
.arkiver-button-container {
  display: flex;
  align-items: center;
}

.arkiver-button {
  font-size: 1rem !important;
}
